body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.item{
    backround: #f7f7f7;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
}

h2{
    margin-top: 0px;
}

.comprar{
    background: #a8f;
    padding: 10px 20px;
    color: #103;
    text-decoration: none;
    border-radius: 4px;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}